// Place all the styles related to the Forms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// --- Tags Input
//= require bootstrap-tagsinput/dist/bootstrap-tagsinput
// --- Slider Ctrl
//= require seiyria-bootstrap-slider/dist/css/bootstrap-slider.min
// --- Chosen
//= require chosen_v1.2.0/chosen.min
